<div class="card border-0 shadow" style="min-height: 500px">
  <img class="card-img-top" src="holder.js/100px180/" alt="" />
  <div class="card-body">
    <h4 class="card-title float-end">
      <a
        (click)="sale_order_service.partner_clear()"
        class="btn btn-sm btn-danger"
        href="javascript:void(0)"
        role="button"
      >
        <i class="fa fa-times-circle text-white" aria-hidden="true"></i>
      </a>
      {{ sale_order_service.buffer_open_draft().partner_name }}
      {{ sale_order_service.buffer_open_draft().partner_lastname }}
    </h4>
    <p class="card-text">
      {{ sale_order_service.buffer_open_draft().partner_home }}
      <br />
      {{
        sale_order_service.buffer_open_draft().date_order
          | date : "dd/MM/yyyy HH:mm:ss"
      }}
    </p>
    <hr />

    <app-search
      [title_search]="'Agregar producto'"
      (selected)="this.sale_order_service.product_select($event)"
      [db]="this.product_service.db"
    ></app-search>
    <div class="list-group">
      @for (line of sale_order_service.buffer_open_draft().lines; track $index)
      {

      <a
        #element
        (click)="select_element($index, this.selected_sing)"
        href="javascript:void(0)"
        class="d-none list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ line.product }}</h5>
          <small>{{ line.quantity | number }} piezas</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">Precio unitario</p>
          <small class="text-muted">{{ line.price_unit | currency }}</small>
        </div>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Subtotal</h5>
          <h5 class="text-muted">{{ line.amount_total | currency }}</h5>
        </div>
      </a>

      @if ($index === selected_index) {
      <a
        href="javascript:void(0)"
        class="list-group-item flex-column align-items-start list-group-item-dark"
      >
        <div class="d-flex w-100 justify-content-between">
          <a
            (click)="add_qty(1, $index, false)"
            class="btn btn-warning"
            href="javascript:void(0)"
            role="button"
            ><i class="fas fa-minus-circle text-white"></i
          ></a>

          @for (qty of [5,10,30]; track qty) {

          <a
            (click)="add_qty(qty, selected_index, selected_sing)"
            class="btn btn-primary text-white"
            [ngClass]="{
              'btn-primary': selected_sing,
              'btn-warning': !selected_sing
            }"
            href="javascript:void(0)"
            role="button"
          >
            <i
              class="fas text-white"
              [ngClass]="{
                'fa-plus-circle': selected_sing,
                'fa-minus-circle': !selected_sing
              }"
            ></i>
            {{ qty }}</a
          >
          }
          <a
            (click)="add_qty(1, $index, true)"
            class="btn btn-primary"
            href="javascript:void(0)"
            role="button"
          >
            <i class="fas fa-plus-circle text-white"></i
          ></a>
        </div>
      </a>
      } }
      <a
        href="javascript:void(0)"
        class="list-group-item flex-column align-items-start list-group-item-success"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Total</h5>
          <h5 class="">
            {{ sale_order_service.buffer_open_draft().amount_total | currency }}
          </h5>
        </div>
      </a>
    </div>
  </div>
</div>

<nav class="navbar sticky-bottom transparent">
  <div class="container-fluid justify-content-between pe-5 ps-5">
    <a
      name=""
      id=""
      class="btn btn-danger text-white btn-lg rounded-circle"
      href="javascript:void(0)"
      role="button"
    >
      <i class="fas fa-times text-white"></i>
    </a>
    <a
      name=""
      id=""
      class="btn btn-primary text-white btn-lg rounded-circle"
      href="javascript:void(0)"
      role="button"
    >
      <i class="fas fa-save text-white"></i>
    </a>
    <a
      name=""
      id=""
      class="btn btn-primary text-white btn-lg rounded-circle"
      href="javascript:void(0)"
      role="button"
    >
      <i class="fas fa-pen text-white"></i>
    </a>
    <a
      name=""
      id=""
      class="btn btn-secondary text-white btn-lg rounded-circle"
      href="javascript:void(0)"
      role="button"
    >
      <i class="fas fa-arrow-left text-white"></i>
    </a>
  </div>
</nav>
