<ng-template #rt let-r="result" let-t="term">
  <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']" class="me-1" style="width: 16px" /> -->
  <i [class]="'fas mr-1'+class_icon()" ></i>
  @for (item of r.display_name; track $index) {
    <ngb-highlight [result]="item" [term]="t"></ngb-highlight>
  <br />
  }
</ng-template>

<div class="mb-3 row">
  <label for="typeahead-template" class="col-xs-3 col-sm-auto col-form-label"
    >{{ title_search() }}:</label
  >
  <div class="col">
    <input
      id="typeahead-template"
      type="text"
      class="form-control col"
      [(ngModel)]="model"
      [ngbTypeahead]="search"
      [resultTemplate]="rt"
      [inputFormatter]="formatter"
    />
  </div>
</div>

