<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">
        <i class="fas fa-download text-info"></i>

        {{ title() }}
      </h1>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <input
          #input_file
          (change)="load_file(input_file.files)"
          type="file"
          class="form-control"
          id="inputGroupFile01"
          accept=".xlsx, .xls"
        />
      </div>
    </div>
    @if (input_file.files?.length) {

    <div class="col-12 col-md-6 text-center">
      <a
        name="save_news text-white"
        id="save_news"
        class="btn btn-primary"
        (click)="save_news()"
        role="button"
      >
        <i class="fas fa-save text-white"></i>

        <span class="text-white"> Guardar {{ name() }}</span></a
      >
    </div>

    <div class="col-12 table-responsive">
      <app-table [data]="excel_service.data_loaded()"></app-table>
    </div>
    }
  </div>
</div>

<hr />

<div class="container">
  <div class="row">
    @if (all_data?.all_rows?.length) {
    <div class="col-12">
      @if (is_preview_for_new_data) {
      <h1>Vista previa de nuevos {{ name() }}</h1>

      }@else {
      <h1>{{ name() | titlecase }} existentes</h1>
      }
    </div>

    <div class="col-12 table-responsive">
      <app-table [data]="all_data"></app-table>
    </div>

    } @else {

    <div class="col-12 text-center">
      <h1>
        <i class="fa fa-exclamation-circle text-warning"></i>
        <br />
        No hay {{ name() }} almacenados.
      </h1>
      <p>Agrega algunos {{ name() }} para empezar.</p>
    </div>

    }
  </div>
</div>
