@if(show_list_view){
<app-sale-order-list></app-sale-order-list>

} @else {

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>
        <i class="fas fa-file-invoice-dollar text-info"></i>

        Orden de venta
      </h1>
      <hr />
    </div>

    @if(!sale_order_service.is_partner_selected()){
    <div class="col-12 col-lg-6">
      <app-search
        [title_search]="'Selecciona un cliente'"
        (selected)="this.sale_order_service.partner_select($event)"
        [db]="this.partner_service.db"
      ></app-search>
    </div>
    }
  </div>
</div>

@if(sale_order_service.is_partner_selected()){
<app-sale-order-form></app-sale-order-form>

} }
